$mainC : #e17777;

.Contenteditor{
  width: 700px;
  height: 500px;
  margin: 30px 0;
  .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .pro_img{
      img{width: 80px;}
    }
    p{font-size: 30px;}
  }
  .textBox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    textarea{
      width: 90%;
      margin: 30px 0;
      height: 300px;
      background-color: transparent;
      // box-shadow: 1px 1px 3px inset #cfa3a3;
      border: 1px solid #ebbaba;
      border-radius: 30px;
      font-size: 24px;
      padding: 40px 70px;
      resize: none;
      text-align-last: left;
    }
    section{
      width: 70%;
      display: flex;
      justify-content: space-between;
      .Dbtn{
        width: 160px;
        height: 40px;
        border-radius: 50px;
        background-color: transparent;
        border:1px solid $mainC;
        color: $mainC;
        font-size: 20px;
      }
      .Cbtn{
        width: 160px;
        height: 40px;
        border-radius: 50px;
        background-color: transparent;
        border:1px solid $mainC;
        color: $mainC;
        font-size: 20px;
      }
    }

  }
  }