@font-face {
  font-family: "NanumSquareRoundLight";
  src: url("/fonts/NanumSquareRoundL.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("/fonts/NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundBold";
  src: url("/fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundExtraBold";
  src: url("/fonts/NanumSquareRoundEB.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "NanumSquareRound";
}
::-webkit-scrollbar {
  display: none;
}
// body {
//   #__next {
//     width: 1400px;
//     margin: 0 auto;
//     position: relative;
//   }
// }

body {
  background-color: #fffbef;
  padding: 0;
  margin: 0;
  font-family: -apple-system, InkLipquid, sans-serif;
}

@media screen and (max-width: 1400px) {
  body {
    max-width: 1400px;
    ::-webkit-scrollbar {
      border-right: 1px solid rgba(224, 102, 102, 0.4);
    }
  }
}
@media screen and (max-width: 1000px) {
  body {
    max-width: 1000px;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}
