.myprofile {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transform: rotate(0);
}
.myprofile .profile_img_wrap {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
}
.myprofile .profile_img_wrap::before {
  content: "";
  width: 110px;
  height: 110px;
  background-color: rgba(224, 102, 102, 0.2);
  border-radius: 50%;
}
.myprofile .profile_img_wrap img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.myprofile .profile_img_wrap .profile_img_mod {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 251, 239, 0.7);
  border: 1px solid rgba(224, 102, 102, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: calc(50% - 55px);
  cursor: pointer;
}
.myprofile .profile_img_wrap .profile_img_mod img {
  width: 60%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myprofile .profile_img_wrap .img_toggle {
  width: 350px;
  height: 230px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.myprofile .profile_img_wrap .img_toggle.on {
  display: block;
}
.myprofile .profile_img_wrap .img_toggle .img_mod_toggle_exit {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.myprofile .profile_img_wrap .img_toggle .img_mod_toggle_exit > img {
  width: 25px;
  height: 25px;
  padding: 5px 0 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myprofile .profile_img_wrap .img_toggle .img_mod_list {
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.myprofile .profile_img_wrap .img_toggle .img_mod_list .img_mod_img_wrap {
  width: 45px;
  height: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.myprofile .profile_img_wrap .img_toggle .img_mod_list .img_mod_img_wrap > img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myprofile .profile_info_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.myprofile .profile_info_wrap > div {
  margin: 10px 0;
}
.myprofile .profile_info_wrap .profile_info_name {
  font-size: 2.5rem;
  position: relative;
  font-family: NanumSquareRoundBold;
}
.myprofile .profile_info_wrap .profile_info_name .profile_name_mod {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 251, 239, 0.7);
  border: 1px solid rgba(224, 102, 102, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(0%, -50%);
  cursor: pointer;
}
.myprofile .profile_info_wrap .profile_info_name .profile_name_mod img {
  width: 60%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.myprofile .profile_info_wrap .profile_info_email {
  color: #888888;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle {
  width: 100%;
  display: none;
  position: absolute;
  top: 50%;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle.on {
  display: block;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form {
  width: 300px;
  height: 100px;
  background-color: rgba(224, 102, 102, 0.4);
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p {
  width: 80%;
  margin: 5px auto;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p input {
  width: 100%;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(1) input {
  height: 30px;
  border: 1px solid #e36e6e;
  background: rgba(227, 110, 110, 0.7);
  border-radius: 15px;
  padding: 0 15px;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(1) input::-moz-placeholder {
  color: black;
  text-align: center;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(1) input:-ms-input-placeholder {
  color: black;
  text-align: center;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(1) input::placeholder {
  color: black;
  text-align: center;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.myprofile .profile_info_wrap .profile_name_mod_toggle form p:nth-child(2) input {
  width: 60px;
  height: 30px;
  border: 1px solid #e36e6e;
  border-radius: 15px;
  background-color: transparent;
  padding: 0 15px;
  margin-left: 10px;
}
.myprofile .profile_last_btn_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.myprofile .profile_last_btn_wrap > button {
  width: 100px;
  height: 40px;
  border: 1px solid #e36e6e;
  border-radius: 20px;
  outline: none;
  padding: 0 20px;
  margin: 5px;
  background-color: transparent;
  color: #e36e6e;
  cursor: pointer;
}
.myprofile .profile_last_btn_wrap > button:nth-child(2) {
  margin-right: 10px;
}
.myprofile .profile_last_btn_wrap .delete_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: center;
}
.myprofile .profile_last_btn_wrap .delete_modal.on {
  display: flex;
}
.myprofile .profile_last_btn_wrap .delete_modal .delete_modal_contents {
  width: 400px;
  height: 250px;
  border: 1px solid #e36e6e;
  border-radius: 50px;
  background-color: rgba(255, 251, 239, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myprofile .profile_last_btn_wrap .delete_modal .delete_modal_contents > p {
  color: #e36e6e;
  margin: 40px;
}
.myprofile .profile_last_btn_wrap .delete_modal .delete_modal_contents .delete_modal_btn_wrap button {
  width: 100px;
  height: 40px;
  border: 1px solid #e36e6e;
  border-radius: 20px;
  outline: none;
  padding: 0 20px;
  margin: 10px;
  color: #e36e6e;
  background-color: transparent;
  cursor: pointer;
}

.myprofile_load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_list {
  border-bottom: 1px solid rgba(224, 102, 102, 0.5);
  display: flex;
  align-items: center;
}
.user_list .user_list_pro_img {
  margin: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.user_list .user_list_pro_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user_list .user_list_info {
  display: flex;
  flex-direction: column;
}
.user_list .user_list_info .user_list_name {
  font-size: 1.2em;
  line-height: 1.5;
}
.user_list .user_list_info .user_list_email {
  font-size: 0.8em;
  line-height: 1.5;
  color: gray;
}
.user_list .user_list_follow {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user_list .user_list_follow img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.follow_modal {
  width: 400px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e36e6e;
  border-radius: 50px;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow_modal.on {
  display: flex;
}
.follow_modal > p {
  color: #e36e6e;
  margin: 40px;
}
.follow_modal .follow_modal_btn_wrap button {
  width: 100px;
  height: 40px;
  border: 1px solid #e36e6e;
  border-radius: 20px;
  padding: 0 20px;
  margin: 5px;
  background-color: transparent;
  outline: none;
  color: #e36e6e;
  cursor: pointer;
}

.follow_list {
  border-bottom: 1px solid rgba(224, 102, 102, 0.5);
  display: flex;
  align-items: center;
}
.follow_list .follow_list_pro_img {
  margin: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.follow_list .follow_list_pro_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.follow_list .follow_list_info {
  display: flex;
  flex-direction: column;
}
.follow_list .follow_list_info .follow_list_name {
  font-size: 1.2em;
  line-height: 1.5;
}
.follow_list .follow_list_info .follow_list_email {
  font-size: 0.8em;
  line-height: 1.5;
  color: gray;
}
.follow_list .follow_list_heart {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.follow_list .follow_list_heart img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.follow_load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encyclopedia_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transform: rotate(0);
}
.encyclopedia_container .poke_card {
  width: 25%;
  padding: 2%;
  border-right: 1px dashed #e36e6e;
  border-bottom: 1px dashed #e36e6e;
}
.encyclopedia_container .poke_card:nth-child(-n+5) {
  border-top: 0;
}
.encyclopedia_container .poke_card:nth-child(4n-3) {
  border-left: none;
}
.encyclopedia_container .poke_card:nth-child(4n) {
  border-right: none;
}
.encyclopedia_container .poke_card:nth-last-child(-n+3) {
  border-bottom: none;
}
.encyclopedia_container .poke_card .card_img_wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.encyclopedia_container .poke_card .card_info_wrap {
  width: 100%;
}
.encyclopedia_container .poke_card .card_info_wrap p {
  text-align: center;
  margin: 3px 0;
}
.encyclopedia_container .poke_card .card_info_wrap .info_btn_wrap {
  display: flex;
  justify-content: space-around;
}
.encyclopedia_container .poke_card .card_info_wrap .info_btn_wrap button {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #e36e6e;
  border-radius: 5px;
  background-color: transparent;
  transition: 150ms;
  outline: none;
  cursor: pointer;
}
.encyclopedia_container .poke_card .card_info_wrap .info_btn_wrap button:hover {
  background-color: #e36e6e;
}
.encyclopedia_container .have {
  text-align: center;
}
.encyclopedia_container .have .card_img_wrap img {
  filter: grayscale(1);
}
.encyclopedia_container .sticky_tray {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.encyclopedia_container .sticky_tray.on {
  display: block;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: calc(100vh - 150px);
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap {
  width: 400px;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e36e6e;
  border-radius: 50px;
  background-color: #fffbef;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_first {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: auto;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_first p:nth-of-type(1) {
  font-size: 3rem;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second > p {
  width: 150px;
  height: auto;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second > p img {
  width: 100%;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second .modal_detail_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second .modal_detail_wrap > div {
  line-height: 30px;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second .modal_detail_wrap > div:nth-of-type(1) {
  padding-right: 20px;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second .modal_detail_wrap > div:nth-of-type(1) p {
  text-align: right;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_second .modal_detail_wrap > div:nth-of-type(2) p {
  text-align: right;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_third > p {
  margin-bottom: 10px;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_third .btn {
  display: flex;
  justify-content: space-around;
}
.encyclopedia_container .sticky_tray .encyclopedia_modal .modal_wrap .modal_wrap_third .btn button {
  border: 1px solid #e36e6e;
  outline: none;
}

.encyclopedia_load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tuto_first {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tuto_first > p {
  font-size: 1.5rem;
  color: #e36e6e;
  line-height: 4;
}
.tuto_first .tuto_wrap {
  display: flex;
}
.tuto_first .tuto_wrap .tuto_img_wrap {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: rgba(227, 110, 110, 0.2666666667);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tuto_first .tuto_wrap .tuto_img_wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tuto_first .tuto_wrap .tuto_img_wrap figcaption {
  margin-top: 20px;
  font-size: 1em;
}

.tuto_second {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tuto_second > p {
  margin-bottom: 30px;
  font-family: NanumSquareRoundBold;
  font-size: 1.5em;
}
.tuto_second .tuto_second_form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;
}
.tuto_second .tuto_second_form > p input {
  width: 200px;
  height: 40px;
  border: 1px solid #e36e6e;
  border-radius: 20px;
  background-color: transparent;
  color: #e36e6e;
  padding: 0 20px;
  margin: 20px 0;
}
.tuto_second .tuto_second_form > p input::-moz-placeholder {
  color: #e36e6e;
}
.tuto_second .tuto_second_form > p input:-ms-input-placeholder {
  color: #e36e6e;
}
.tuto_second .tuto_second_form > p input::placeholder {
  color: #e36e6e;
}
.tuto_second .tuto_second_form > p button {
  width: 80px;
  height: 40px;
  border: 1px solid #e36e6e;
  border-radius: 20px;
  padding: 0 20px;
  background-color: #e36e6e;
  color: #fffbef;
}/*# sourceMappingURL=maincon.module.css.map */